.chrome-plugin-autobrush-effect {
    display: block !important;
    width: 30px !important;
    height: 30px !important;
    margin: 0 !important;
    padding: 0 !important;
    transition: color 0.7s;
}

.chrome-plugin-autobrush-effect::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
}

/* Effect Boris */
.chrome-plugin-autobrush-effect-boris::after {
    background: rgba(53,153,240,0.3);
    animation: anim-effect-boris 0.8s forwards;
}

@keyframes anim-effect-boris {
    0% {
        transform: scale3d(0.3, 0.3, 1);
    }
    25%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale3d(1.2, 1.2, 1);
    }
}