.mr-sm {margin-right: 10px;}
.mb-sm {margin-bottom: 10px;}
.mb-md {margin-bottom: 20px;}
.mb-lg {margin-bottom: 30px;}
.mtb-sm{margin-top: 20px; margin-bottom: 20px;}
label {margin-right: 5px;}
input,button,select,textarea {outline:0;}
:focus{outline: 0;}

.container{width: 970px;padding:35px;}
.logo{overflow:hidden;margin-bottom:35px;}
.logo h1{float:left;margin:0;}
.logo h2{float:left;margin-left: 30px;}
#J_role_wapper_table {overflow: auto;height: 300px;padding-right:20px;}